OPENAI_API_KEY=
OPENROUTER_API_KEY=
GITHUB_TOKEN=
GITLAB_TOKEN=
INFOSCIENCE_TOKEN=
MODEL=
PROVIDER=
SELENIUM_REMOTE_URL=
GUNICORN_CMD_ARGS="--timeout=600"
CACHE_DB_PATH=/app/data/cache.db
MAX_SELENIUM_SESSIONS=2
MAX_CACHE_ENTRIES=10000000