pydantic==2.11.7
python-dotenv==0.21.1
google-genai==0.1.0
repo-to-text==0.7.0
PyLD
rdflib==6.2.0
rdflib-jsonld==0.6.2
tiktoken==0.9.0
fastapi==0.115.13
uvicorn==0.34.3
gimie==0.7.2
pyyaml
openai==1.91.0
beautifulsoup4==4.13.4
selenium==4.34.2
